<!doctype html>
<html lang="en">
  <head>
    <title>Todo Lists</title>
  </head>
  <body>
    <main>
        <div>
            <h1>{{ items.name }}</h1>
            <h2>Tasks</h2>
            <p><a href="{% url 'show_list' %}">Main Page</a></p>
            <p><a href="{% url 'update_list' items.id %}">Edit</a></p>
            <p><a href="{% url 'delete_list' items.id %}">Delete</a></p>
            
            <table>
                <thead>
                  <tr>
                    <th>Tasks</th>
                    <th> Due date </th>
                  </tr>
                </thead>
                <tbody>
                {% for item in items.items.all %}
                    <tr>
                        <td><a href="{% url 'update_item' item.id %}">{{ item.task }}</td>
                        <td>{{ item.due_date }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
    </main>
  </body>
</html>
