<!doctype html>
<html lang="en">
  <head>
    <title>Todo Lists</title>
  </head>
  <body>
    <main>
        <div>
            <h1>Update Items</h1>
            <form method="post">
                {% csrf_token %}
                {{ item_form.as_p }}
                <button>Update</button>
            </form>
        </div>
    </main>
  </body>
</html>
