<!doctype html>
<html lang="en">
  <head>
    <title>Todo Lists</title>
  </head>
  <body>
    <main>
        <div>
            <h1>My Lists</h1>
            <p><a href="{% url 'create_list' %}">Create a new list</a></p>
            <p><a href="{% url 'create_item' %}">Create a new item</a></p>
            <table>
                <thead>
                  <tr>
                    <th>Name</th>
                    <th>Number of items</th>
                  </tr>
                </thead>
                <tbody>
                  {% for item in items %}
                  <tr>
                    <td><a href="{% url 'detail_list' item.id %}">{{ item.name }}</td>
                    <td>{{ item.items.count }}
                  </tr>
                  {% endfor %}
                </tbody>
            </table>
    </main>
  </body>
</html>
